.quit {
  text-align: right;
  width: auto;
}

.quit:hover {
  color: $bordeaux;
}

.fa-right-from-bracket {
  margin-left: 5px;
}

.tabs {
  display: flex;
}

.tab {
  padding: 10px 25px;
  border: 1px solid rgba(0, 0, 0, 0.125);
  margin: 0;
}

.container-dashboard {
  border: 1px solid rgba(0, 0, 0, 0.125);
  margin-left: 0px;
}

.fav-container {
  margin-left: 0px;
  padding: 10px 20px;

  h4 {
    margin: 20px 0 20px 15px;
  }
}

.fa-check {
  margin-right: 3px;
}

#alert-pending {
  color: rgb(197, 128, 0);
  font-size: 20px;
}

#alert-accepted {
  color: green;
  font-size: 20px;
}

.cards-2 {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card-product-2 {
  overflow: hidden;
  height: 150px;
  width: 500px;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  border-radius: 0;
  display: flex;
  align-items: center;
  margin: 10px 20px 10px 20px;
}

.card-product-2 img {
  width: 200px;
  height: 100%;
  object-fit: cover;
}

.card-product-2 h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

.card-product-2 p {
  font-size: 12px;
  line-height: 1.4;
  opacity: .7;
  margin-bottom: 0;
  margin-top: 8px;
}

.card-product-2 .card-product-2-infos {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
