// Import page-specific CSS files here.
@import "home";

.map {
  border: 10px solid white;
  border-radius: 2px;
  margin: 30px 0 25px 0;
}

.link-to-map {
  position: fixed;
  text-align: center;
  height: 45px;
  padding: 10px;
  bottom: 50px;
  right: 50%;
  width: 130px;
  background: $bordeaux;
  color: white;
  border-radius: 35px;

  & :hover {
    text-decoration: none;
  }
}

.link-to-map a {
  text-decoration: none;
  color: white;
}
