.linear-g {
  background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2));
  height: 474.75px;
}

.presentation {
  background-image: url("https://res.cloudinary.com/dvz6du0ze/image/upload/v1705865620/castrvm/tir04liynvabfbkvvlro.jpg");
  height: 474.75px;
  background-size: cover;
  background-position: center;
}

.presentation img {
  width: 100%;
  height: auto;
}

.presentation h1 {
  font-family: "Tangerine", cursive;
  font-size: 95px;
  font-weight: bold;
  color: rgb(238, 238, 238);
  text-shadow: 0 0 4px grey;
  padding: 20px 50px 0 80px;
}

.presentation-text {
  margin-left: 80px;
  margin-top: 163px;
}

.presentation p {
  font-size: 22px;
  color: rgb(238, 238, 238);
  padding-left: 20px;
  margin: 0;
  text-shadow: 0 0 4px grey;
}

.presentation ul {
  color: white;
  list-style: none;
}

.create-profile {
  background-color: $bordeaux;
  color: white;
  font-weight: bold;
  font-size: 17px;
  padding: 12px;
  margin-left: 75%;
  transition: 0.5s;
}

.create-profile:hover {
  background-color: #bf1a0d;
  color: #ffff;
}

.search-container {
  margin-bottom: 30px;
  height: 200px;
  padding: 20px 50px;
  background-image: url("https://res.cloudinary.com/dvz6du0ze/image/upload/v1705879127/castrvm/dfykm6fxffybdbf2shnc.png");
  background-repeat: repeat;
  background-size: 18%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;

  h2 {
    font-weight: bold;
  }
}

.search-field {
  height: 44px;
  width: 200px;
  margin-right: -5px;
  padding: 10px;
}

.search-btn {
  background-color: $bordeaux;
  color: white;
  font-weight: bold;
  border: none;
  padding: 10px 20px;
}

.last-container {
  padding: 0 70px;
}
