.too-much-guests {
  background-color: pink;
  border: 2px solid red;
  border-radius: 3px;
  padding: 10px;
  text-align: center;
  color: darkred;
  font-size: 15px;
}

.too-much-guests p {
  margin: 0;
}
