.too-much-guests {
  background-color: pink;
  border: 2px solid red;
  border-radius: 3px;
  padding: 10px;
  text-align: center;
  color: darkred;
  font-size: 15px;
}

.too-much-guests p {
  margin: 0;
}

.invisible-btn a {
  color: white;
}

.loader {
  border: 16px solid #f3f3f3; /* Light grey */
  border-top: 16px solid #3498db; /* Blue */
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 2s linear infinite;
  margin: auto;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.stripe-msg {
  width: 35%;
  text-align: center;
}
