<div class="footer">
  <ul class="footer-links">
    <li>réalisé par Jacques-Antoine de Cugnac</li>
    <li><a href="mailto:ja.decugnac@outlook.com"><i class="fa-regular fa-envelope"></i></a></li>
    <li><a href="https://github.com/jadc96" target="_blank"><i class="fab fa-github"></i></a></li>
    <li><a href="https://www.linkedin.com/in/jacques-antoine-de-cugnac/" target="_blank"><i class="fab fa-linkedin"></i></a></li>
    <li><a href="mailto:ja.decugnac@outlook.com">Me contacter</a></li>
  </ul>
</div>
