<div class="banner">
  <div class="big-img">
    <h1>CASTRVM</h1>
    <p>Goûtez à la vie de château</p>
    <%= link_to intro_path do %>
      <img class="enter" src="https://res.cloudinary.com/dvz6du0ze/image/upload/v1705775826/castrvm/lmmu4o46qbbkbekuxexh.png" alt="">
    <% end %>
  </div>
</div>
