<div class="banner">
  <div class="big-img">
    <h1>CASTRVM</h1>
    <p>Goûtez à la vie de château</p>
    <%= link_to castles_path do %>
      <img class="enter" src="https://res.cloudinary.com/djyykxv2u/image/upload/v1658780308/castrvm/castrvm_gmx96c.png" alt="">
    <% end %>
  </div>
</div>
