<div class="navbar navbar-expand-sm navbar-light navbar-lewagon border d-flex justify-content-between">
    <%= link_to castles_path, class: "navbar-brand" do %>
    <img class="house" src="https://res.cloudinary.com/djyykxv2u/image/upload/v1658780308/castrvm/castrvm_gmx96c.png" alt="">

    <% end %>

    <%= render "shared/searchbar" %>

    <% if user_signed_in? %>
      <div class="links">
        <p class="my-profile"><%= link_to "Mon profil", "/dashboard" %></p>
      </div>
    <% else %>
      <%= link_to new_user_session_path, class: "nav-link" do %>
        <i class="fas fa-user-circle" style="transform: scale(1.5,1.5);"></i>
      <% end %>
    <% end %>
  </div>
</div>
