<div class="border border-secondary rounded-pill d-flex p-2">
  <form action="/castles" method="get">
    <input type="text" name="search" class="border-0 border-secondary bg-transparent placeholder-padding" placeholder='Votre recherche'/>
    <button name="button" type="submit" class="border-0 bg-transparent">
      <i class="fas fa-search"></i>
    </button>
  </form>
</div>
