.btn:focus {
  box-shadow: none;
}

.btn-new-castle {
  background-color: $bordeaux;
  color: white;
  font-weight: bold;
  font-size: 17px;
  padding: 12px;
  margin-left: 25px;
  transition: .5s;
  position: absolute;
  top: 14px;
  right: 0;
}

.btn-new-castle:hover{
  background-color: #bf1a0d;
  color: #ffff;
}

.see-all {
  position: relative;
  display: flex;
  margin-top: 15px;
  margin-left: 25px;
}

.title-index {
  font-weight: bold;
  margin-top: 18px;
  border-bottom: 3px solid #0000;
}
