.navbar-lewagon {
  justify-content: space-between;
  background: #fffcf6;
  position: sticky;
  top: 0;
  z-index: 100;
  box-shadow: 0 0 20px rgb(168, 168, 168);
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand i {
  width: 40px;
}

.links {
  margin-right: 10px;
  display: flex;
}

.my-profile {
  margin: 0 15px 0 0;
}

.nav-link {
  color: $bordeaux
}
