.navbar {
  height: 80px;
  display: flex;
  justify-content: space-between;
  background: #fffcf6;
  position: sticky;
  top: 0;
  z-index: 100;
  box-shadow: 0 0 20px rgb(168, 168, 168);
}

.navbar .navbar-brand i {
  width: 40px;
}

.links {
  margin-right: 10px;
  display: flex;
}

.fa-user-circle {
  font-size: 25px;
  color: $bordeaux;
  margin-right: 20px;
}

.fa-user-circle:hover {
  color: $bordeaux;
}

.my-profile {
  margin: 0 15px 0 0;
  border: none;
  background-color: transparent;
  padding: 10px 15px;
}

.my-profile:hover {
  background-color: #e9e9e9;
}
