<br>
<div class="secondary-button fs-5">
  <a href="<%= castles_path %>">
    <i class="fa-solid fa-angles-left"></i>
  </a>
  <%= link_to "Retour", castles_path %>
</div>
<p><%= render "form", castle: @castle %></p>
